* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 50px solid  #0a0a0a;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: rgb(185, 185, 185);
    /* background-image: url("cenario.png"); */
}

.cenario {
    width: 100%;
}

.batom {
    position: absolute;
    bottom: 0;
    width: 30px;
animation: batom-animation 2s infinite linear;
}

.personagem {
    width: 120px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

@keyframes batom-animation {
    from {
 right: -80px;
    }
    to {
right: 100%;
    }
}

@keyframes jump {
 0% {
    bottom: 0;
 }
 40% {
    bottom: 180px;
 }
50% {
    bottom: 180px;
}
60% {
    bottom: 180px;
}
100% {
    bottom: 0;
}

}